    #id-input-todo {
        width: 200px;
    }
    body {
        position: relative;
        left: 25%;
    }
    /*全部 button 按钮的鼠标样式*/
    button {
        cursor: pointer;
    }
    /*完成按钮*/
    .todo-done {
        border: solid 1px #18bb9c;
        background: #18bb9c;
        color: white;
        border-radius: 25%;
    }
    /*删除按钮*/
    .todo-delete {
        color: white;
        border: solid 1px #e1544d;
        background: #e1544d;
        border-radius: 25%;
    }
    /* 完成的样式 */
    .done {
        color: gray;
        text-decoration: line-through;
        background: lightblue !important;
    }
    /*创建时间*/
    .now-time {
        position: absolute;
        left: 66%;
    }
    /*待办事件*/
    .title-head{
        color: white;
        background: #66666F;
        margin-bottom: 13px;
        width: 50%;
        height:40px;
    }
    #id-div-container{
        position: relative;
        width: 50%
    }
    /*添加 todo*/
    .todo-cell:nth-child(2n + 1) {
        position: relative;
        background: #F9F9F9;
        margin-bottom: 2px;
    }

    .todo-cell {
        margin-bottom: 2px;
    }
    /*todo 输入框 div*/
    .todo-form {
        margin-bottom: 5px;
    }
    /*todo input value */
    .todo-content {
        position: absolute;
        left: 36%;
    }
    /*创建时间 事件名 操作 div*/
    .state-name{
        position: relative;
        border-top: solid 1px gray;
        margin-bottom: 30px;
        margin-top: 10px;
        width: 50%
    }
    /*创建时间*/
    .creation-time {
        position: absolute;
        left: 66%;
    }
    /*事件名*/
    .event-name {
        position: absolute;
        left: 36%;
    }
    /*操作*/
    .operation {
        position: absolute;
    }
